.ss{
     border: auto ;
    background-color: rgb(255, 255, 255);
    border-style: solid;
  border-width: 10px;
 letter-spacing: 2px;
    border-color: rgb(117, 124, 124); 
  font-style: italic;
   padding: 1%;
  Text-align : center;
    width: 300px;
  height: 320px;
  
}
.RegisterForm{
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 500px;
  visibility: hidden;
  z-index: 200;

}
.BackDrop {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}