html,
body {
	position: relative;
}

body * {
	position: relative;
}
.ss {
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	letter-spacing: 2px;
	font-style: italic;
	text-align: center;
	width: 350px;
	height: 400px;
	margin: 5px 15px;
}
.heading {
	color: blue;
	font-style: italic;
	text-align: center;
}
.users {
	text-align: center;
	text-shadow: rosybrown;
}
.RegisterForm {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 80%;
	display: none;
	z-index: 200;
	background-color: #fff;
}
.RegisterForm .container {
	background-color: #eee;
}
.RegisterForm.active {
	display: block;
}
