.ss{
     border: auto ;
    background-color: rgb(255, 255, 255);
    border-style: solid;
  border-width: 10px;
 letter-spacing: 2px;
    border-color: rgb(117, 124, 124); 
  font-style: italic;
   padding: 1%;

    width: 300px;
  height: 320px;
  
}